/* Generic layout. */

#btn-mendeley{
   width: 8em;
   height: 8em;
}




.toolbar-container {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   padding-left: 16.4%;
   height: 6%;
}
.stencil-container {
   position: absolute;
   display: block;
   left: 0;
   top: 6%;   /* toolbar height */
   bottom: 74.7%;  /* statusbar height */
   width: 16%;
   height: 23.7%;
}

#menu{
   position: absolute;
   display: block;
   left: 0;
   top: 22%;   /* toolbar height */
   width: 16%;
   background-color: white;
   height: 78%;
}


.references-container{
   float: left;
   width: 99%;
   max-height: 94%;
   min-height: 1.2em;
}
.references-used{
   float: left;   
   width: 99%;
   max-height: 94%;
   min-height: 1.2em;
}

/*.inspector-container {*/
#myholder-small {
   position: absolute;
   top: 0px;   /* toolbar height */
   right: 0;
   bottom: 70%; /* statusbar height */
   width: 10%;
   background-color: white;
}

#rcmList{
   position: absolute;
   top: 0px;   /* toolbar height */
   right: 0;
   bottom: 70%; /* statusbar height */
   width: 10%;
   background-color: white;
   overflow-y :scroll;
}

/*#attribution{
   position: absolute;
   bottom: 3%;  
   right: 0;
   top: 70%; 
   width: 10%;
   background-color: #E7E4E4;
}*/

#changeAtrr{
	position: absolute;
	bottom: 31.1%;
	right: 8px;
	top: 60%;
	width: 9%;
	background-color: #57BA57;
	display: none;
}


#attribution p{
   text-align: justify;
   font-size: 9px;
}

.rcm{
   padding: 1em;
   text-align: center;
}

/*#myholder-small {*/
.inspector-container {
   position: absolute;
   top: 6%;   /* toolbar height */
   right: 0;
   bottom: 3%; /* statusbar height */
   width: 9.9%;
}

#submitButton {
   position: absolute;
   top: 90%;   /* toolbar height */
   right: 0;
   bottom: 3%; /* statusbar height */
   width: 10%;
}

.paper-container {
   position: absolute;
   top: 6%;   /* toolbar height */
   left: 16%;
   right: 10%;
   bottom: 3%; /* statusbar height */
   overflow: hidden;
}
.paper-container .paper-scroller {
   width: 100%;
   height: 100%;
}

.statusbar-container {
   position: absolute;
   left: 0;
   bottom: 0;
   right: 0;
   height: 3%;
}
