
.del-ref{
   float: right;
   width: 20px;
   height: 20px;
   background-color: 
}

.referenceInPath{
   float: left;
   width: 11.8em;
}

.colLeft{
   float: left;
   width: 1em;
}
.colRight{
   float: right;
   width: 85%;
}
.idRef{
   float: left;
}

.yearRef{
   float: left;
   margin-right: 0.5em;
   font-size: 0.6em;
}
.deleteRef{
   float: left;
   margin-right: 0.5em;
   font-size: 0.6em;
   background-color: red;
   width: 100%;
   height: 100%;
   text-align: center;

}

.titleRef{
   float: left;
   text-align: justify;
   font-size: 0.7em;
   margin-left: 0.5em;
   margin-right: 0.5em;
   width: 90%;
}

.authRef{
   float: left;
   margin-left: 0.7em;
   font-size: 0.3em;
   font-size: 0.6em;
   margin-top: 0.5em;
   font-weight: bold;
}
