#add-ref{
   float: left;
   width: 20px;
   height: 20px;
   background-image: url("../img/plus.png");
}

.del-ref{float: right;
   width: 0.8em;
   height: 0.8em;
   background-color: hsla(220,11%,97%,.95);
}


.references-container {
   border-top: 1px solid #4f4f4f;
   border-right: 1px solid lightgray;
   background-color: hsla(220,11%,97%,.95);
   color: #bcbcbc;
   border-width: 1px;
   border-style: solid;
   border-color: #4F4F4F #333 #333;

}

.references-used{
   border-width: 1px;
   border-style: solid;
   border-color: #4F4F4F #333 #333;   
}

.references-head{
   color: #bcbcbc;
   display: block;
   text-align: center;
   background-color: #242424;   
   font-size: 12px;
   line-height: 20px;
   font-weight: bold;
   vertical-align: middle;
   padding-top: 2px;
   height: 1.7em;
   text-shadow:0px 0px 10px #000;
}

.references-list{
   display:none;
   overflow-y :scroll;
   width: 100%;
   max-height: 93%;
   min-height: 0em;
   background-color: rgba(246, 247, 248, 0.95);
}

.references-list a {
   text-decoration: none;
}

.reference{
	border-top: 1px solid #4f4f4f;
   color: #4F4F4F;
	overflow: :auto;
	overflow-x: auto;
	overflow-y:hidden;
	padding-bottom: 2px;
	padding-top: 2px;
	padding-left: 5px;
	text-align: "left";
   background-color: rgba(246, 247, 248, 0.95);
}

