.statusbar-container {
   background-color: hsla(220,11%,97%,.95);
   border-top: 1px solid lightgray;
}

/* Validation message */

.statusbar-container.error {
   background-color: #e74c3c;
   color: white;
   text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
   background-image: -webkit-linear-gradient(top,#e74c3c,#c0392b);
   background-image: -moz-linear-gradient(top,#e74c3c,#c0392b);
   border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
   font-size: 10px;
   line-height: 20px;
}

.statusbar-container.correct {
   background-color: #009933;
   color: white;
   text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
   background-image: -webkit-linear-gradient(top,#64E73C, #2BC047);
   background-image: -moz-linear-gradient(center top , #64E73C, #2BC047)
   border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
   font-size: 10px;
   line-height: 20px;
}
