.stencil-container {
   border-top: 1px solid #4f4f4f;
   border-right: 1px solid lightgray;
   background-color: white;
   color: #bcbcbc;
}
.stencil-container > label {
   display: block;
   text-align: center;
   background-color: #333;   
   font-size: 10px;
   line-height: 20px;
   height: 20px;
   text-shadow: 0 -1px 0 #000;
}
.stencil-container > .btn-expand,
.stencil-container > .btn-collapse {
   position: absolute;
   top: 2px;
   left: 2px;
   background: none;
   border: none;
   outline: none;
   color: #bcbcbc;
   cursor: pointer;
   width: 20px;
   height: 16px;
   line-height: 16px;
   margin: 0;
   padding: 0;
   border: 1px solid #4f4f4f;
}
.stencil-container > .btn-collapse {
   left: 25px;
}

.stencil {
   position: absolute;
   left: 0;
   top: 0;
   bottom: 0;
   right: 0;
   width: 100%;
   border: none;
   height: auto;
   overflow: auto;
}

.stencil .group {
   border-width: 1px;
   border-style: solid;
   border-color: #4F4F4F #333 #333;
   height:72%;   
}
.stencil .group .elements {
   margin-left: -10px;
   background-color: white;
}

/* Hide some nodes of elements in stencil. */
.stencil .elements .element.basic.Image text,
.stencil .elements .element.devs.Atomic .inPorts text,
.stencil .elements .element.devs.Atomic .outPorts text,
.stencil .elements .element.pn.Transition text {
   display: none;
}