


.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: relative;
  float: right;
  top: 0;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}




html, body {
   margin: 0;
   padding: 0;
}

body {
   -webkit-user-select: none;
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -ms-user-select: none;
   user-select: none;
   font-family: Arial;
   font-family: "Source Sans Pro", sans-serif;
}

h1 {
   position: absolute;
   z-index: 1;
   top: 8px;
   left: 90px;
   color: white;
   margin: 0;
   padding: 0;
   font-size: 18px;
}

.closeBtn{
  background-color: #49afcd;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
   font-size: 11px;
   line-height: 30px;
   border: 1px solid #ccc;
   background-image: -webkit-linear-gradient(top,#DE5B7B,#FF0516);
   background-image: -moz-linear-gradient(center top , #DE5B7B, #FF0516);
   background-image: linear-gradient(top,#DE5B7B,#FF0516);
   border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  position: absolute;
  right: 1em;
  bottom: 1em;
}

.btn {
   position: relative;
   top: 0;
   margin-bottom: 10px;
   background-color: #49afcd;
   padding: 4px 8px;
   color: white;
   text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
   font-size: 11px;
   line-height: 30px;
   border: 1px solid #ccc;
   background-image: -webkit-linear-gradient(top,#5bc0de,#2f96b4);
   background-image: -moz-linear-gradient(center top , #DE5B7B, #FF0516);
   background-image: linear-gradient(top,#5bc0de,#2f96b4);
   border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
   margin: 0;
   margin-left: -5px;
   cursor: pointer;
}
.btn:hover {
   opacity: .9;
}
.btn > img {
   vertical-align: middle;
   height: 20px;
}

.group-label {
   color:rgb(88, 78, 78);
   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
   border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
   border-width: medium 1px 1px medium;
   background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
   -moz-border-bottom-colors: none;
   -moz-border-image: none;
   -moz-border-left-colors: none;
   -moz-border-right-colors: none;
   -moz-border-top-colors: none;
}

/* Normal styles for the modal */
#modal {
   left:60%;
   margin:-250px 0 0 -40%;
   opacity: 0;
   position:absolute;
   top:-50%;
   visibility: hidden;
   box-shadow:0 3px 7px rgba(0,0,0,.25);
   box-sizing:border-box;
   transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -webkit-transition: all 0.4s ease-in-out;
   width: 50%;
}
/* Make the modal appear when targeted */
#modal:target {
   opacity: 1;
   top:50%;
   visibility: visible;
}
#modal .header,#modal .footer {
   border-bottom: 1px solid #e7e7e7;
   border-radius: 5px 5px 0 0;
}
#modal .footer {
   border:none;
   border-top: 1px solid #e7e7e7;
   border-radius: 0 0 5px 5px;
}
#modal h2 {
   margin:0;
}
#modal .btn {
   float:right;
}
#modal .copy,#modal .header, #modal .footer {
   padding:15px;
}
.modal-content {
   background: #f7f7f7;
   position: relative;
   z-index: 20;
   border-radius:5px;
}
#modal .copy {
   background: #fff;
}

#modal .overlay {
   background-color: #000;
   background: rgba(0,0,0,.5);
   height: 100%;
   left: 0;
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 10;
}

#newText{
   width: 100%
}

#newDefinitions{
   resize: none;
   width: 100%;
   height: 100%;
}

#newReferences{
   resize: none;
   width: 100%;
   height: 100%;
}

#select-path{
   resize: none;
   width: 4em;
   height: 1em;
}


/*Modal references source*/
#modalSelectReferencesSource {
   left:80%;
   margin:-250px 0 0 -40%;
   opacity: 0;
   position:absolute;
   top:-50%;
   visibility: hidden;
   box-shadow:0 3px 7px rgba(0,0,0,.25);
   width: 50%;
   box-sizing:border-box;
   transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -webkit-transition: all 0.4s ease-in-out;
}
/* Make the modal appear when targeted */
#modalSelectReferencesSource:target {
   opacity: 1;
   top:50%;
   left: 70%;
   visibility: visible;
}
#modalSelectReferencesSource .header,#modalSelectReferencesSource .footer {
   border-bottom: 1px solid #e7e7e7;
   border-radius: 5px 5px 0 0;
}
#modalSelectReferencesSource .footer {
   border:none;
   border-top: 1px solid #e7e7e7;
   border-radius: 0 0 5px 5px;
   height: 10em;
}
#modalSelectReferencesSource h2 {
   margin:0;
}
#modalSelectReferencesSource .btn {
   float:right;
}
#modalSelectReferencesSource .copy,#modalSelectReferencesSource .header, #modalSelectReferencesSource .footer {
   padding:15px;
}
.modal-content {
   background: #f7f7f7;
   position: relative;
   z-index: 20;
   border-radius:5px;
}
#modalSelectReferencesSource .copy {
   background: #fff;
}

#modalSelectReferencesSource .overlay {
   background-color: #000;
   background: rgba(0,0,0,.5);
   height: 100%;
   left: 0;
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 10;
}

#sourceMendeley{
  float: left;
  width: 30%;
  height: 10em;
  text-align: center;
  display: block;
}

#sourceLocal{
  float: left;
  width: 30%;
  height: 10em;
  text-align: center;
  display: block;

}

#noSource{
  float: left;
  width: 30%;
  height: 10em;
  text-align: center;
  display: block;

}

.accept{
  float: right;
}


/*Modal new references */
#modalNewReferences {
   left:80%;
   margin:-250px 0 0 -40%;
   opacity: 0;
   position:absolute;
   top:-50%;
   visibility: hidden;
   box-shadow:0 3px 7px rgba(0,0,0,.25);
   width: 50%;
   box-sizing:border-box;
   transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -webkit-transition: all 0.4s ease-in-out;
}
/* Make the modal appear when targeted */
#modalNewReferences:target {
   opacity: 1;
   top:50%;
   left: 70%;
   visibility: visible;
}
#modalNewReferences .header,#modalNewReferences .footer {
   border-bottom: 1px solid #e7e7e7;
   border-radius: 5px 5px 0 0;
}
#modalNewReferences .footer {
   border:none;
   border-top: 1px solid #e7e7e7;
   border-radius: 0 0 5px 5px;
}
#modalNewReferences h2 {
   margin:0;
}
#modalNewReferences .btn {
   float:right;
}
#modalNewReferences .copy,#modalNewReferences .header, #modalNewReferences .footer {
   padding:15px;
}
.modal-content {
   background: #f7f7f7;
   position: relative;
   z-index: 20;
   border-radius:5px;
}
#modalNewReferences .copy {
   background: #fff;
}

#modalNewReferences .overlay {
   background-color: #000;
   background: rgba(0,0,0,.5);
   height: 100%;
   left: 0;
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 10;
}


#modalNewSetDefinitions {
   left:80%;
   margin:-250px 0 0 -40%;
   opacity: 0;
   position:absolute;
   top:-50%;
   visibility: hidden;
   box-shadow:0 3px 7px rgba(0,0,0,.25);
   width: 50%;
   box-sizing:border-box;
   transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -webkit-transition: all 0.4s ease-in-out;
}
/* Make the modal appear when targeted */
#modalNewSetDefinitions:target {
   opacity: 1;
   top:50%;
   left: 70%;
   visibility: visible;
}
#modalNewSetDefinitions .header,#modalNewSetDefinitions .footer {
   border-bottom: 1px solid #e7e7e7;
   border-radius: 5px 5px 0 0;
}
#modalNewSetDefinitions .footer {
   border:none;
   border-top: 1px solid #e7e7e7;
   border-radius: 0 0 5px 5px;
}
#modalNewSetDefinitions h2 {
   margin:0;
}
#modalNewSetDefinitions .btn {
   float:right;
}
#modalNewSetDefinitions .copy,#modalNewSetDefinitions .header, #modalNewSetDefinitions .footer {
   padding:15px;
}
.modal-content {
   background: #f7f7f7;
   position: relative;
   z-index: 20;
   border-radius:5px;
}
#modalNewSetDefinitions .copy {
   background: #fff;
}

#modalNewSetDefinitions .overlay {
   background-color: #000;
   background: rgba(0,0,0,.5);
   height: 100%;
   left: 0;
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 10;
}

#progressBar{
   width: 100%;
}

#loadingImage{
   width: 50px;
   height: 50px;
   left: 40%;
   right: 50%;
   position: absolute;
   top: 50%;
   display:none;
}


.meter { 
   height: 10px;  /* Can be anything */
   position: relative;
   margin: 40px 0 20px 0; /* Just for demo spacing */
   background: #555;
   -moz-border-radius: 25px;
   -webkit-border-radius: 25px;
   border-radius: 25px;
   padding: 10px;
   -webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
   -moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
   box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
}
.meter > span {
   display: block;
   height: 100%;
      -webkit-border-top-right-radius: 8px;
   -webkit-border-bottom-right-radius: 8px;
          -moz-border-radius-topright: 8px;
       -moz-border-radius-bottomright: 8px;
              border-top-right-radius: 8px;
           border-bottom-right-radius: 8px;
       -webkit-border-top-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
           -moz-border-radius-topleft: 20px;
        -moz-border-radius-bottomleft: 20px;
               border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
   background-color: rgb(43,194,83);
   background-image: -webkit-gradient(
     linear,
     left bottom,
     left top,
     color-stop(0, rgb(43,194,83)),
     color-stop(1, rgb(84,240,84))
    );
   background-image: -moz-linear-gradient(
     center bottom,
     rgb(43,194,83) 37%,
     rgb(84,240,84) 69%
    );
   -webkit-box-shadow: 
     inset 0 2px 9px  rgba(255,255,255,0.3),
     inset 0 -2px 6px rgba(0,0,0,0.4);
   -moz-box-shadow: 
     inset 0 2px 9px  rgba(255,255,255,0.3),
     inset 0 -2px 6px rgba(0,0,0,0.4);
   box-shadow: 
     inset 0 2px 9px  rgba(255,255,255,0.3),
     inset 0 -2px 6px rgba(0,0,0,0.4);
   position: relative;
   overflow: hidden;
}
.meter > span:after, .animate > span > span {
   content: "";
   position: absolute;
   top: 0; left: 0; bottom: 0; right: 0;
   background-image: 
      -webkit-gradient(linear, 0 0, 100% 100%, 
         color-stop(.25, rgba(255, 255, 255, .2)), 
         color-stop(.25, transparent), color-stop(.5, transparent), 
         color-stop(.5, rgba(255, 255, 255, .2)), 
         color-stop(.75, rgba(255, 255, 255, .2)), 
         color-stop(.75, transparent), to(transparent)
      );
   background-image: 
      -moz-linear-gradient(
        -45deg, 
         rgba(255, 255, 255, .2) 25%, 
         transparent 25%, 
         transparent 50%, 
         rgba(255, 255, 255, .2) 50%, 
         rgba(255, 255, 255, .2) 75%, 
         transparent 75%, 
         transparent
      );
   z-index: 1;
   -webkit-background-size: 50px 50px;
   -moz-background-size: 50px 50px;
   -webkit-animation: move 2s linear infinite;
      -webkit-border-top-right-radius: 8px;
   -webkit-border-bottom-right-radius: 8px;
          -moz-border-radius-topright: 8px;
       -moz-border-radius-bottomright: 8px;
              border-top-right-radius: 8px;
           border-bottom-right-radius: 8px;
       -webkit-border-top-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
           -moz-border-radius-topleft: 20px;
        -moz-border-radius-bottomleft: 20px;
               border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
   overflow: hidden;
}

.animate > span:after {
   display: none;
}

@-webkit-keyframes move {
    0% {
       background-position: 0 0;
    }
    100% {
       background-position: 50px 50px;
    }
}



.rcm{
  border-style: solid;
  background-color: #BDBDBD;
  color: #424242;
}

#rcmList{
  background-color: #E7E4E4;
}

#nameRCM{
  resize:none ;
  width: 100%;
  height: 2em;
  margin-top: 1em;
}

#btn-tojson{
  width: 100%;
  height: 1.5em;
  margin-bottom: 2px;
  margin-top: 1px;
  background-color: #CCFF99;
}