<label>{{label}}:</label>
<select class="select" data-type="{{type}}" data-attribute="{{attribute}}" value="{{value}}" {{#if options.multiple}} multiple size="{{options.options.length}}" {{/if}}>
    {{#each options.items}}
    <option val="{{this}}" {{#is-or-contains this ../value}} selected {{/is-or-contains}}>{{this}}</option>
    {{/each}}
</select>
